.mainWrap{
    display: grid;
    grid-template-columns: 350px 1fr;
    background-color:#000000d3;
    height:100vh;
}
.aside{
    background-color: #161616;
    padding: 10px;
    color:#fff;
    display: flex;
    flex-direction: column;
}
.asideInner{
    flex: 1;
}
.clientsList{
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}
.client{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* flex-wrap: wrap; */
}
.leave{
    background-color : rgb(224, 85, 85);
}